<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Midterm Survey</title>
</head>
<body>
<form method="POST" action="#">

<h1>Midterm Survey</h1>
   <label>Name:
        <input type="text" name="name" id="name" value="{{ @name }}">
    </label>


     <p>Check all that apply:<br>


            <repeat group="{{ @options }}" value="{{ @option }}">
                <label><input type="checkbox" name="option[]" value="{{ @option }}"

                    >{{ @option }}
                </label><br>
            </repeat>
      </p>
    <button type="submit">Submit</button>
</form>
</body>
</html>